.colors{
  display: inline-block;
  width: 282px;
  left: 1450px;
  top: 145px;
  display: flex;
  flex-direction: column;
}
.colors-item{
  display: flex;
  flex-wrap: nowrap;
}
.colors-item__square{
  width: 70px;
  height: 70px;
  border-radius: 6px;
}
.colors-item__square_dark-100{
  background-color: #1F2041;
}
.colors-item__square_dark-75{
  background-color: #1F2041BE;
}
.colors-item__square_dark-50{
  background-color: #1F204180;
}
.colors-item__square_dark-25{
  background-color: #1F204140;
}
.colors-item__square_dark-5{
  background-color: #1F20410D;
}
.colors-item__square_purple{
  background-color: #BC9CFF;
}
.colors-item__square_green{
  background-color: #6FCF97;
}
.colors__subtitle{
  font-weight: 400;
  font-size: 19px;
}
.colors__title{
  font-weight: 700;
  font-size: 19px;
}
