doctype html
html(lang= 'ru')
  head
    meta(charset='utf-8')
    title= 'Colors & Type'
  body
    script src="index.js"
    .logo
      img(src=require('./img/logo.png') alt='Логотип')
    .colors
      .colors-item
        .colors-item__square.colors-item__square_dark-100
        .colors__text
          .title Dark Shade 100%
          .colors__subtitle #1F2041
      .colors-item
        .colors-item__square.colors-item__square_dark-75
        .colors__text
          .title Dark Shade 75%
          .colors__subtitle #1F2041
      .colors-item
        .colors-item__square.colors-item__square_dark-50
        .colors__text
          .title Dark Shade 50%
          .colors__subtitle #1F2041
      .colors-item
        .colors-item__square.colors-item__square_dark-25
        .colors__text
          .title Dark Shade 25%
          .colors__subtitle #1F2041
      .colors-item
        .colors-item__square.colors-item__square_dark-5
        .colors__text
          .title Dark Shade 5%
          .colors__subtitle #1F2041
      .colors-item
        .colors-item__square.colors-item__square_purple
        .colors__text
          .title Purple
          .colors__subtitle #BC9CFF
      .colors-item
        .colors-item__square.colors-item__square_green
        .colors__text
          .title Green
          .colors__subtitle #6FCF97
    .type