doctype html
html(lang= 'ru')
  head
    meta(charset='utf-8')
    title= 'Colors & Type'
  body
    script src="index.js"
    .logo
      img(src=require('./img/logo.png') alt='Логотип')
    div.colors
      div.colors-item
        div.colors-item__square.colors-item__square_dark-100
        div.colors__text
          div.title Dark Shade 100%
          div.subtitle #1F2041
      div.colors-item
        div.colors-item__square.colors-item__square_dark-75
        div.colors__text
          div.title Dark Shade 75%
          div.subtitle #1F2041
      div.colors-item
        div.colors-item__square.colors-item__square_dark-50
        div.colors__text
          div.title Dark Shade 50%
          div.subtitle #1F2041
