$font-size: 19px;
$font-color: #1F2041;

html {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: $font-size;
  color: $font-color;
  background: #FFFFFF;
}
body {
  margin: 0px;
}
.logo{
  margin: 30px 0px 0px 30px
}
.colors{
  margin: 55px 0px 0px 148px;
}
.colors-item{
  margin: 10px 0px;
}
.colors__text{
  margin: 10px 0px 0px 40px;
}
.colors__subtitle{
  margin: 5px 0px 0px 0px;
}
.type{
  
}

